# OpenRouter Key
OPENROUTER_API_KEY = <ваш ключ>

# LLM_MODEL=openai/gpt-oss-120b
LLM_MODEL=deepseek/deepseek-v3.2

# Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<key>"
LANGSMITH_PROJECT="job_extractor"